/*global*/

body{
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/*header*/

header{
    position: sticky;
    display: flex;
    overflow: hidden;
    top: 0;
    margin-top: -182px;
    background-color: #4d0000;
    width: auto;
    border-bottom: 1px solid #fff;
}
.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#logo{
    order: 2;
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: oblique;
}

#logo h1, #logo h2{
    text-align: center;
}


.menu-wrap{
    order: 1;
}
header li{
    display: inline;
    padding: 0 20px;
}
.nav-button li a{
    border: #1a1a1a solid 5px;
    border-radius: 25%;
    background-color: #1a1a1a;
    color:#fff;
    font-size: 1.5em;
}
.nav-button{
    display: flex;
    flex-wrap: wrap;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    padding: 1rem;
    background: #1a1a1a;
}
.menu-wrap .hamburger > div{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.menu-wrap .hamburger > div::before, .menu-wrap .hamburger > div::after{
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    content: '';
    background: inherit;
}
.menu-wrap .hamburger > div::after{
    top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div::before , .menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    overflow: hidden;
}
.menu-wrap .menu >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100vw;
    background: #1a1a1a;
    border: #fff dotted 1px;
    
}
.menu-wrap .menu >div >div{
    text-align: center;
    transition: all 0.4s ease;
}
.newsletter{
    padding-bottom: 15px;
    text-align: center;
}

/*main body*/

.news{
    margin-top: 20px;
    border-bottom: 1px solid #fff;
    padding: 3px;
    flex-basis: 28%;
    text-align: center;
}
.news img{
    width: 340px;
    height: auto;

}
.main-box{
    display: flex;
    flex-direction: column;
    margin-top: 182px;
}
.top-news{
    text-align: center;
}
.top-news img{
    width: 340px;
    height: auto;
}
.sidebar1{
    text-align: center;
    order: 3;
}
.adlist{
    font-size: 9px;
    text-align: center;
}
.sidebar2{
    order: 2;
}
.sidebar2 h2{
    padding: 5px;
    background-color: #4d0000;
    text-align: center;
}
.sidebar2 a{
    color: #fff;
    font-size: 1.5em;
}
.sidebar2 a:hover{
    color: #888;
}
.trending{
    padding: 15px 0px;
}
section{
    order: 1;
}
.ads img{
    padding:20px 0px 20px 20px;
    width: 220px;
    height: auto;
}

/*main body: subscriptions*/
h3{
    display: flex;
    margin-top: 200px;
    justify-content: center;
}
.m-box{
    display: flex;
    flex-direction: column;
}
.main-box-subs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.identifier{
    margin-right: 10px;
}
.field-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 70px;
    flex-basis: 35%; 
    border: none;  
}
.field-inner span{
    color: red;
}
.submit{
    padding: 15px;
    border: none;
    width: auto;
    align-self: center;
    margin-bottom: 15px;
    background-color: #4d0000;
    color: #fff;
    font-weight: bolder;    
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: #111;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}
.modal-dialog {
    position: relative;
    width: 80vw;
    height: 80vh;
    border-radius: 5px;
    background: #4d0000;
    overflow: auto;
    cursor: default;
  }
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
}
#modal-content{
    text-align: center;
    background-color: #4d0000;
}
.inner-text-modal{
    font-weight: bolder;
    text-align: center;
    background-color: #4d0000;
    color: #fff;
}



/*footer*/
.wrapfooter{
    overflow: hidden;
    width: 80%;
    margin: auto;
}
footer{
    border-top: 2px #4d0000 solid;
    padding-bottom: 30px;
    background-color: black;
}
